<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protocapture.project">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.protocapture.project.activities.JointEditorActivity"></activity>
        <activity
            android:name="com.protocapture.project.activities.ViewPrototypeActivity"
            android:parentActivityName="com.protocapture.project.activities.MainActivity" />
        <activity
            android:name="com.protocapture.project.activities.AddPrototypeActivity"
            android:parentActivityName="com.protocapture.project.activities.MainActivity" />
        <activity
            android:name="com.protocapture.project.activities.PrototypeCaptureActivity"
            android:parentActivityName="com.protocapture.project.activities.MainActivity" />
        <activity
            android:name="com.protocapture.project.activities.LinkEditorActivity"
            android:parentActivityName="com.protocapture.project.activities.PrototypeCaptureActivity" />
        <activity android:name="com.protocapture.project.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>